body {
  font-size: 1em;
  font-family: Palatino, Georgia, serif;
}
.footnotes, code, .side, .body .side {
  font-size: .85em;
}
.frontmatter, .chapter {
  min-height: calc(100vh - 1em);
}
.frontmatter {
  background-image: radial-gradient(#b6cee2 1px, #fff 1px);
  background-size: 2em 2em;
  background-color: #fff;
  padding-bottom: 0;
  & > div {
    margin: 0 -1em;
    background-color: #ebf6f9;
    padding: 1em;
  }
  & .title {
    padding: 20vh 1em 1em;
    margin-top: -1em;
  }
}
#TOC {
  margin-left: calc(-200px - .8em);
}
@media (max-width: 1280px) {
  #TOC {
    margin-left: auto;
  }
}
.chapter:not(.appendix) .main-number {
  &::before {
    content: "Chapter ";
  }
  &::after {
    content: none;
  }
}
.chapter h1 {
  margin: 1em auto 3em;
  border-bottom: 1px solid;
}
h1 .section-number {
  display: inline-block;
  border-bottom: 4px solid;
  margin-bottom: -4px;
}
.body h2 { border-bottom-style: dashed; }
/* TODO: style for h1.part and printing */
