/* CSS for https://yihui.org/litedown/ */

/* hide 4th-level TOC items when printing to PDF and 3rd-level in chapter TOC */
.pagesjs #TOC > ul > li > ul > li > ul > li > ul, .chapter-toc > ul > li > ul > li > ul {
  display: none;
}

/* a tale of two buttons */
.new-road {
  p {
    display: flex;
    justify-content: center;
    gap: .5em;
  }
  button::before { font-size: 200%; }
  .old-knit, .new-fuse {
    &:hover::before { content: "❓ "; }
  }
  .old-knit {
    &::before { content: "🧶 "; }
    &:focus::before { content: "😡 "; }
  }
  .new-fuse::before { content: "↯ "; }
  .new-preview::before { content: "⏵ "; }
  .new-fuse:focus::before { content: "😇 "; }
}

/* arrange elements in columns */
.flex-col {
  display: flex;
  justify-content: space-between;
  gap: .5em;
  * {
    flex: 1;
  }
  pre:has(code[data-file]) {
    &, &::before {
      border: groove mintcream;
    }
    code {
      border: none;
      border-top: 1px dashed lightgray;
    }
    & {
      border-top: none;
    }
    &::before {
      border-left: none;
      border-bottom: none;
    }
  }
}

code[data-file]::before {
  content: attr(data-file);
  font-size: .9em;
  float: right;
  background-color: lightyellow;
  display: inline-block;
  padding: .5em;
  margin: -1em -1em 1em 1em;
}

pre:has(code[data-file]) {
  &::before {
    content: "Output";
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: .5em 1em;
    border-bottom: none;
  }
  &:has(code[data-file$=".Rmd"])::before {
    content: "♧ Example";
  }
  &.pagesjs-fragmented:first-child {
    &::before, code::before {
      content: unset;
    }
    code {
      border-top: none;
    }
  }
  code, &::before {
    border: groove mintcream;
  }
  &.pagesjs-fragmented:last-child {
    code {
      border-bottom: none;
    }
  }
  &::before {
    border-bottom: none;
  }
}

.larger { font-size: 1.5em; }
