.faq-button {
  cursor: pointer;
}
.faq-list > li > :first-child {
  display: block;
  cursor: pointer;
  background: #fafafa;
  margin: -.5em;
  padding: .5em;
}
.faq-list > :not(.faq-clicked) > * {
  display: none;
}
.faq-button {
  float: right;
  margin-left: 1em;
}
.faq-list .anchor {
  display: none;
}
.faq-list > li:hover .anchor {
  display: inline;
}
.faq-list > li {
  border: 1px solid #eee;
  padding: .5em;
}
