:root {
  --paper-width: 210mm;
  --paper-height: 297mm;
  --paper-margin-top: 40px;
  --paper-margin-right: 80px;
  --paper-margin-bottom: 40px;
  --paper-margin-left: 80px;
  --page-header-height: 40px;
  --page-header-bottom: 40px;
  --page-footer-height: 40px;
  --page-footer-top: 40px;
}
@page {
  size: var(--paper-width) var(--paper-height);
  margin: 0;
}
@page multiple {
  margin-top: var(--paper-margin-top);
  margin-bottom: var(--paper-margin-bottom);
}
.page-multiple {
  page: multiple;
}
.pagesjs {
  padding: 0;
  max-width: 100%;
  margin: 5mm;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5mm;
  .frontmatter, .chapter {
    min-height: unset;
    box-shadow: none;
  }
  .pagesjs-page {
    width: var(--paper-width);
    height: var(--paper-height);
    padding: var(--paper-margin-top) var(--paper-margin-right) var(--paper-margin-bottom) var(--paper-margin-left);
  	page-break-after: always;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      max-width: 100%;
    }
    pre {
      white-space: pre-wrap;
    }
    .chapter-before, .chapter-after, .pencil:has(+ .chapter-before) {
      display: none;
    }
    #TOC {
      border: none;
      padding: 0;
      margin-left: auto;
      &:not(.pagesjs-page:has(#TOC) ~ .pagesjs-page *)::before {
        content: "Contents";
        display: block;
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
      }
      & > ul {
        columns: 18em;
      }
      a {
        display: flex;
        &::after {
          content: attr(data-page-number);
          align-self: end;
        }
        .section-number {
          margin-right: .3em;
        }
        .dot-leader {
          flex: 1 0 2em;
          border-bottom: dashed 1px;
          margin: 0 1ex 1ex;
        }
      }
    }
    .fullwidth {
      float: none;
      max-width: none;
      width: var(--paper-width);
      margin-left: calc(0px - var(--paper-margin-left));
      transform: none;
    }
    .footnotes::before {
      content: "";
      display: block;
      max-width: 20em;
      border-top: solid 1px;
    }
    &:first-child:is(.page-book *) {
      padding: 0;
      .pagesjs-header, .pagesjs-footer {
        display: none;
      }
      .frontmatter {
        margin: 0;
        padding: var(--paper-margin-top) var(--paper-margin-right) var(--paper-margin-bottom) var(--paper-margin-left);
        height: 100%;
        .title {
          margin-top: calc(0px - var(--paper-margin-top));
        }
        & > div {
          margin: 0 calc(0px - var(--paper-margin-right)) 0 calc(0px - var(--paper-margin-left));
        }
      }
    }
    &:has(.side-left, .embed-left) .pagesjs-body {
      padding-left: calc(0px - var(--side-margin));
      .fullwidth {
        transform: translate(calc(0px - var(--side-width)));
      }
    }
    &:has(.side-right, .embed-right) .pagesjs-body {
      padding-right: calc(0px - var(--side-margin));
    }
    .side {
      font-size: .9em;
      background: none;
    }
  }
}
.pagesjs-header, .pagesjs-footer {
  font-size: .9em;
  display: flex;
  justify-content: space-between;
}
.pagesjs-header {
  flex: 0 0 var(--page-header-height);
  margin-bottom: var(--page-header-bottom);
  align-items: end;
  &::before {
    content: attr(data-main-title);
  }
  &::after {
    content: attr(data-page-title);
  }
}
.pagesjs-footer {
  flex: 0 0 var(--page-footer-height);
  margin-top: var(--page-footer-top);
  align-items: start;
  &::before {
    content: " ";
  }
  &::after {
    content: attr(data-page-number);
  }
}
.pagesjs-body {
  flex-grow: 1;
  position: relative;
}
@media only screen {
  .pagesjs {
    background-color: #f7f7f7;
    .pagesjs-page {
      background-color: white;
    }
    .page-multiple {
      overflow-y: auto;
    }
  }
  .pagesjs-filling {
    display: block;
    .pagesjs-page {
      height: auto;
    }
    .footnotes {
      margin: 1em auto;
    }
  }
}
@media print {
  .pagesjs {
    margin: 0;
    gap: 0;
    .page-multiple {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
