/**
 * Prism.s theme ported from highlight.js's xcode style
 */
.token {
  &.comment { color: #007400; }
  &.punctuation { color: #999; }
  &.tag, &.selector { color: #aa0d91; }
  &.boolean, &.number, &.constant, &.symbol { color: #1c00cf; }
  &.property, &.attr-name, &.string, &.char, &.builtin { color: #c41a16; }
  &.inserted { background-color: #ccffd8; }
  &.deleted { background-color: #ffebe9; }
  &.operator, &.entity, &.url, .language-css &.string, .style &.string { color: #9a6e3a; }
  &.atrule, &.attr-value, &.keyword { color: #836c28; }
  &.function, &.class-name { color: #DD4A68; }
  &.regex, &.important, &.variable { color: #5c2699; }
  &.important, &.bold { font-weight: bold; }
  &.italic { font-style: italic; }
}
